RewriteEngine on

RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-f
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !^/rest.php
RewriteRule ^(.*)$ %{DOCUMENT_ROOT}/index.php [L]

RedirectMatch 403 /\.git

SetEnvIf Host ^test.archi-wiki.org$ MW_INSTALL_PATH=/srv/www/archi-mediawiki-php74/
SetEnvIf Host ^www.archi-wiki.org$ MW_INSTALL_PATH=/srv/www/archi-mediawiki/
SetEnvIf Host ^archi-wiki.org$ MW_INSTALL_PATH=/srv/www/archi-mediawiki/
