RewriteEngine on

RewriteRule adresse-(.+)-([0-9]+)\.html redirect/redirect.php?archiAffichage=adresseDetail&archiIdAdresse=$2 [QSA,L]
RewriteRule personnalite-(.+)-([0-9]+)\.html redirect/redirect.php?archiAffichage=evenementListe&selection=personne&id=$2 [QSA,L]
